@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --font-sans: var(--font-lora);
} */



body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-lora), system-ui, serif; */
}
